 
.loading_wait {
  z-index: 99999 !important;
}
.el-message{
  min-width: 100px; 
  background-color: rgba($color: #092266, $alpha: 0.7);
  color: #fff;
  border: none;
  top: 50% !important;
  z-index: 9999 !important;
}
.el-message--success .el-message__content,
.el-message .el-icon-success {
  color: #fff;
}

.el-message.el-message--info {
   
  p, i {
    color: #fff;
  }
}
.el-message-box__container {
  text-align: center;
  color: $main_c3;
  font-size: 18px;
}
.el-message-box__btns {
  text-align: center;
  padding-top: 44px;
  padding-bottom: 16px; 
  button {
    width: 110px; 
    font-size: 14px;
  }
}
.el-message-box__btns button:nth-child(2) {
  margin-left: 42px;
}
.el-menu {
  border: none;
}
.el-menu-item,
.el-submenu__title {
  color: $main_c2;
}
.el-submenu__title i {
  color: $main_c2;
}

.el-message--error .el-message__content,
.el-message .el-icon-error {
  color: #fff;
  line-height: 16px;
}
.el-form-item__label {
  padding-right: 12px;
  color: $main_c2;
}
.el-input__icon,
.el-icon-arrow-up {
  line-height: 32px;
}
.el-input__inner {
  height: 32px !important;
  line-height: 32px;
  padding: 0 8px;
  color: #999;
}
.el-textarea__inner {
  padding: 8px;
  font-family: '微软雅黑';
}
 
// .el-icon-arrow-up {
//   height: 14px;
// }
.el-table {
  border-radius: 0px;
  box-shadow: none;
}
.el-table th>.cell {
  color: #1A1A1A;
  // text-align: left;
}
.el-select-dropdown__item {
  font-size: 12px;
}
 